.content-banner.banner-small {
    min-height: 542px;
    height: auto;
}

@media (min-width: 768px) {
    .content-banner.banner-small {
        min-height: 480px;
        height: auto;
        max-height: none;
    }
}

.content-banner[class*=in-viewport] {
    overflow: hidden;
}

.i-minDesktop {
    display: none!important;
}

.i-minTablet {
    display: none!important;
}

.content-banner {
    align-items: center;
    color: #1a1919;
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    height: 70vh;
}

@media (min-width: 1024px) {
    .i-minDesktop {
        display: block!important;
    }
}

@media (min-width: 768px) {
    .content-banner {
        max-height: 760px;
        height: 75vh;
    }
}

@media (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .i-minTablet {
        display: block!important;
    }
}

@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
    .i-minTablet {
        display: block!important;
    }
}

.content-banner.not-in-viewport .image-holder {
    transform: scale(1.2);
}

.content-banner .image-holder,
.content-banner .responsive-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 1.3s cubic-bezier(.18, .74, .36, .99);
}

.content-banner .text-holder {
    padding: 112px 0;
    position: relative;
    width: 100%;
}

.content-banner.banner-text-left-aligned .inner-indented {
    float: left;
    text-align: left;
    padding-left: 10px;
}

.content-banner .inner-indented {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

@media (min-width: 1024px) {
    .content-banner.banner-left-aligned .inner-indented,
    .content-banner.banner-text-left-aligned .inner-indented {
        padding-left: 40px;
    }
}

.content-banner p {
    color: #1a1919;
}

.txt--white {
    color: #fff!important;
}

.heading-h1 {
    color: #1a1919;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 58px;
    text-transform: none;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    color: #453f3f;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .heading-h1 {
        font-size: 30px;
        letter-spacing: 1.2px;
        line-height: 46px;
    }
}

@media (max-width: 767px) {
    p {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
}

.content-banner.banner-top-aligned {
    align-items: flex-start;
}

.content-banner.banner-top-aligned .text-holder {
    padding: 30px 0;
}

.i-minMobile {
    display: none!important;
}

@media (max-width: 767px) {
    .i-minMobile {
        display: block!important;
    }
}

.content-banner .btn {
    margin-top: 9px;
}

@media (min-width: 768px) {
    .content-banner .btn {
        margin: 35px 8px 0;
    }
}

.content-banner .btn:first-of-type {
    margin-top: 20px;
}

.content-banner.banner-text-left-aligned .btn {
    margin-left: 0;
}

@media (min-width: 768px) {
    .content-banner .btn:last-of-type {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .content-banner .btn:first-of-type {
        margin-top: 35px;
    }
}

@media (min-width: 1024px) {
    .content-banner .btn:last-of-type {
        margin-top: 35px;
    }
}

.content-banner .btn:hover {
    color: #fff !important;
}

#carouselSection .carousel {
    z-index: 4 !important;
}

#serviceCarousel .carousel-inner {
    min-height: 150px;
}

.slide-view .btn {
    left: -1.2rem;
}