.pdp-main-container {
    background-color: #efedea;
    position: relative;
}

.ritual-bg-color {
    background-color: #efedea;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.pt_product-details.animate-scroll .product-details-container {
    position: relative;
}

.pdp-breadcrumbs-wrapper {
    padding: 1px 0 0;
}

.breadcrumb {
    display: block;
    width: 100%;
    background-color: transparent !important;
}

.pdp-breadcrumbs-wrapper .breadcrumb {
    display: none;
}

@media (max-width: 767px) {
    .product-details-container .breadcrumb {
        display: none;
    }
}

@media (min-width: 768px) {
    .pdp-breadcrumbs-wrapper .breadcrumb {
        display: block;
    }
}

@media (min-width: 768px) {
    .product-details-container .breadcrumb {
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.pdp-breadcrumbs-wrapper .pdp-back-button-wrapper {
    padding: 2px 0;
}

@media (min-width: 768px) {
    .pdp-breadcrumbs-wrapper .pdp-back-button-wrapper {
        padding: 7px 0 0;
    }
}

@media (min-width: 768px) {
    .pdp-breadcrumbs-wrapper .breadcrumb+.pdp-back-button-wrapper {
        display: none;
    }
}

.back-button {
    font-size: 12px;
    letter-spacing: 1.5px;
    position: relative;
    text-transform: uppercase;
    color: #9a7b69;
    text-decoration: underline;
    font-family: ScalaSansOT, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.pdp-breadcrumbs-wrapper .pdp-back-button-wrapper .back-button {
    margin-left: -8px;
}

.back-button .icon {
    font-size: 26px;
    position: relative;
    top: 3px;
    left: 0;
}

.pt_product-details.animate-scroll .product-details-container .opaque-overlay {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: background 2s cubic-bezier(.05, .5, .3, 1);
    width: 100%;
    z-index: 1;
}

@media(min-width:768px) {
    .pt_product-details.animate-scroll .product-details-container .opaque-overlay {
        display: none;
    }
}

.pt_product-details.animate-scroll .product-details-container.opaque .opaque-overlay {
    z-index: 1;
    background-color: rgba(255, 255, 255, .9);
}

.pdp-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}

.default-scrollmagic-pin-spacer {
    inset: auto;
    margin: 0px;
    display: flex;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    min-height: 401px;
    height: auto;
}

.opacity-scrollmagic-pin-spacer {
    inset: auto;
    margin: 0px;
    display: flex;
    position: relative;
    box-sizing: content-box;
    width: 100%;
    min-height: 401px;
    height: 401px;
}

.product-details-column {
    width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    body:not(.personalised-gifting-page) .product-details-column {
        width: 50%;
    }
}

.pt_product-details.animate-scroll .product-details-container .column-images {
    transition: -webkit-filter 1.3s cubic-bezier(.05, .5, .3, 1);
    transition: filter 1.3s cubic-bezier(.05, .5, .3, 1);
    transition: filter 1.3s cubic-bezier(.05, .5, .3, 1), -webkit-filter 1.3s cubic-bezier(.05, .5, .3, 1);
}

.pt_product-details.animate-scroll .product-details-container .column-images.blurred {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.pdp-images-holder {
    max-width: 100%;
    transition: opacity .9s ease-in-out;
    opacity: 1;
}

@media (max-width: 767px) {
    .pdp-images-holder {
        min-height: 400px;
    }
}

.product-details-container .images-wrapper {
    max-width: 100%;
}

.product-details-container .images-wrapper {
    max-width: 100%;
}

p {
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    color: #453f3f;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    p {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
}

.visually-hidden {
    border: 0 none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    min-width: 1px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto;
}

.product-details-container .images-slider {
    display: flex;
    overflow: hidden;
}

@media (min-width: 768px) {
    .product-details-container .images-slider.slick-initialized {
        max-width: 540px;
    }
}

.product-details-container .images-slider>div {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .product-details-container .images-slider>div {
        overflow: hidden;
        height: calc(100vw - 40px);
        position: relative;
        width: 100%;
    }
}

.slick-slide img {
    display: block;
}

.product-details-container .images-slider img {
    opacity: 1;
    width: auto!important;
}

@media (min-width: 1024px) {
    body:not(.personalised-gifting-page) .product-details-container .images-slider img {
        max-width: 400px;
    }
}

@media (min-width: 1440px) {
    body:not(.personalised-gifting-page) .product-details-container .images-slider img {
        max-width: 440px;
    }
}

@media (max-width: 767px) {
    .product-details-container .images-slider img {
        height: calc(100vw - 40px);
        max-height: 100%;
        width: auto!important;
    }
}

.promotional-label {
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 9px;
    letter-spacing: 1.5px;
    color: #453f3f;
    text-transform: uppercase;
}

.product-details-container .images-wrapper .promotional-label {
    margin: 20px auto;
}

@media (min-width: 768px) {
    .promotional-label {
        font-size: 12px;
        letter-spacing: 2.9px;
    }
}

.pt_product-details.animate-scroll .product-details-container .column-images.show-image-only .promotional-label,
.pt_product-details.animate-scroll .product-details-container .column-images.show-image-only .slick-arrow,
.pt_product-details.animate-scroll .product-details-container .column-images.show-image-only .slider-bar {
    visibility: hidden;
}

.pt_product-details.animate-scroll .product-details-container .column-details {
    z-index: 1;
}

@media (min-width: 768px) {
    body:not(.personalised-gifting-page) .product-details-column {
        width: 50%;
    }
}

.product-details-content {
    width: 100%;
    max-width: 520px;
}

@media (min-width: 768px) {
    .product-details-content {
        padding: 20px;
    }
}

.product-name {
    display: block;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 40px;
    color: #000;
    text-transform: none;
}

@media (min-width: 768px) {
    .product-name {
        font-size: 40px;
        letter-spacing: 1.6px;
        line-height: 50px;
    }
}

@media (min-width: 768px) {
    .product-details-content .product-name {
        margin-bottom: 18px;
    }
}

.category-title {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 15px;
    color: #000;
    display: block;
    line-height: 23px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product-title .category-title {
    margin-bottom: 10px;
}

.product-details-content .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details-content .product-short-info {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .36px;
    color: #453f3f;
}

.product-details-content .previously-known-as,
.product-details-content .short-description {
    margin-bottom: 27px;
}

.product-details-content .long-description {
    margin-bottom: 30px;
    line-height: 28px;
    width: 100%;
    max-width: 380px;
}

.read-more-link {
    display: inline-block;
    margin: 5px 0;
    line-height: 13px;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
}

@media (max-width: 767px) {
    .read-more-link {
        font-size: 14px;
    }
}

.product-details-content .read-more-link {
    border-width: 1px;
}

.product-price {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-style: normal;
    line-height: normal;
    color: #000;
    font-size: 30px;
    letter-spacing: 2.5px;
}

.product-details-content .product-add-to-cart,
.product-details-content .product-price {
    margin-bottom: 20px;
}

.product-details-content .pdpForm {
    width: 100%;
}

.product-details-content .product-add-to-cart {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.product-details-content .product-add-to-cart .btn-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.product-details-content .shipping-info {
    color: #1a1919;
    font-size: 14px;
    letter-spacing: .36px;
    line-height: 24px;
    margin-top: 22px;
}

@media (max-width: 767px) {
    .product-details-content .shipping-info {
        margin: 30px auto 0;
    }
}

.product-details-content .shipping-info ul {
    list-style: none;
    text-align: center;
}

.pt_product-details.animate-scroll .product-details-container .column-images {
    transition: -webkit-filter 1.3s cubic-bezier(.05, .5, .3, 1);
    transition: filter 1.3s cubic-bezier(.05, .5, .3, 1);
    transition: filter 1.3s cubic-bezier(.05, .5, .3, 1), -webkit-filter 1.3s cubic-bezier(.05, .5, .3, 1);
}

@media(min-width:768px) {
    .scrollmagic-pin-spacer {
        inset: auto;
        margin: 0px;
        display: flex;
        position: relative;
        box-sizing: content-box;
        width: 50%;
        min-height: 472px;
        height: auto;
    }
}

@media(max-width:767px) {
    .scrollmagic-pin-spacer {
        inset: auto;
        margin: 0px;
        display: flex;
        position: relative;
        box-sizing: content-box;
        width: 100%;
        min-height: 401px;
        height: auto;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .scrollmagic-pin-spacer {
        inset: auto;
        margin: 0px;
        display: flex;
        position: relative;
        box-sizing: content-box;
        width: 50%;
        min-height: 336px;
        height: 336px;
    }
}

.scrollmagic-pin-spacer .product-details-column {
    position: relative;
    margin: auto;
    inset: 0px auto auto 0px;
    box-sizing: border-box;
    /* width: 100% !important; */
}

@media (max-width: 1024px) and (min-width: 768px) and (orientation: portrait) {
    body:not(.personalised-gifting-page) .product-details-container .images-slider img {
        max-height: 264px;
    }
}

.product-details-column a {
    color: #865 !important;
}

.product-details-column .btn {
    min-width: 220px;
}

.product-details-content .read-more-link {
    border-width: 1px;
}

.product-ingredients-container {
    display: flex;
    flex-direction: column;
}

.dk-bg-full-color {
    background-color: #58595b;
}

.essentialoil-bg-full-color,
.gst-wrapper .option-block.option-dk.essential-color .option-content-wrapper::after {
    /* background-color: #B43844; */
    background-color: #58595b;
}

@media (min-width: 768px) {
    body:not(.personalised-gifting-page) .product-ingredients-container {
        flex-direction: row;
        min-height: 760px;
    }
}

@media (min-width: 768px) {
    body:not(.personalised-gifting-page) .product-ingredients-container {
        flex-direction: row;
        min-height: 760px;
    }
}

.product-ingredients-column {
    width: 100%;
}

@media (min-width: 768px) {
    .product-ingredients-column {
        width: 50%;
    }
}

.product-ingredients-column.column-image {
    background-color: #fff;
    text-align: center;
}

@media (min-width: 768px) {
    .product-ingredients-column.column-image {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 760px;
    }
}

.pt_product-details.animate-scroll .product-ingredients-container .column-image {
    height: 110vw;
}

@media (min-width: 768px) {
    .product-ingredients-container .column-image {
        height: auto;
    }
}

@media(max-width: 767px) {
    .product-ingredients-container .column-image {
        height: 110vw;
    }
    .product-details-container .column-details {
        z-index: 1;
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .pt_product-details.animate-scroll .product-ingredients-container .column-image {
        height: auto;
    }
}

.product-ingredients-column.column-details {
    padding: 42px 30px 40px;
    transition: height .3s ease;
}

@media (min-width: 768px) {
    .product-ingredients-column.column-details {
        padding: 80px 50px;
        transition: padding .3s ease;
    }
}

@media (min-width: 1024px) {
    .product-ingredients-column.column-details {
        padding: 130px 90px 130px 150px;
    }
}

.product-ingredients-column .product-ingredients-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    opacity: 1;
    overflow: auto;
    text-align: center;
    width: 100%;
}

flyout-content.instore-availability-flyout-content,
.product-ingredients-column .product-ingredients-content {
    opacity: 1;
}

@media (min-width: 768px) {
    .product-ingredients-column .product-ingredients-content {
        display: block;
        max-width: 480px;
        text-align: left;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .pt_product-details.animate-scroll .product-ingredients-container .product-ingredients-content {
        transform: translateY(40px);
        transition: opacity 1.3s cubic-bezier(.18, .74, .36, .99), transform 1.3s cubic-bezier(.18, .74, .36, .99);
    }
}

@media (min-width: 768px) {
    .pt_product-details.animate-scroll .product-ingredients-container .product-ingredients-content.show {
        opacity: 1;
        transform: translateY(0);
    }
}

.product-ingredients-column .ingredient-item {
    border-top: 1px solid rgba(255, 255, 255, .15);
    display: none;
    padding-top: 32px;
    text-align: left;
}

@media (min-width: 768px) {
    .product-ingredients-column .ingredient-item {
        display: block;
        width: 100%;
        padding-top: 51px;
    }
}

.product-ingredients-column .ingredient-item:first-child {
    border-top: 0;
    display: block;
    margin: 0 0 13px;
    padding-top: 0;
}

.product-ingredients-column .ingredient-item h3 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 5px;
    line-height: 23px;
    margin-bottom: 17px;
}

@media (min-width: 768px) {
    .product-ingredients-column .ingredient-item h3 {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 14px;
        margin-bottom: 22px;
    }
}

.product-ingredients-column .ingredient-item p {
    color: #fff;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 18px;
    letter-spacing: .6px;
    line-height: 30px;
    margin-bottom: 14px;
}

@media (min-width: 768px) {
    .product-ingredients-column .ingredient-item p {
        font-size: 20px;
        letter-spacing: .4px;
        line-height: 43px;
        margin-bottom: 26px;
    }
}

.product-ingredients-column .btn-show-more {
    display: none;
    margin: 14px 0;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .product-ingredients-column .btn-show-more {
        display: inline-block;
        margin: 22px 0 0;
    }
}

.product-ingredients-column button.btn span {
    text-align: center;
    width: 100%;
}

.product-ingredients-column button.btn .less {
    display: none;
}

@media (min-width: 768px) {
    .product-ingredients-column button.btn {
        display: none;
    }
}

.product-hero-container {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.how-to-use-block {
    background-color: #efedea;
}

.ritual-bg-color {
    background-color: #efedea;
}

@media (min-width: 768px) {
    .product-hero-container {
        min-height: 660px;
        max-height: 760px;
    }
}

.product-hero-media {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 1.3s cubic-bezier(.18, .74, .36, .99);
    width: 100%;
}

@media (min-width: 768px) {
    .product-hero-media {
        height: 100%;
    }
}

.product-hero-content {
    margin: 332px 0 30px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

.how-to-use-block-amsterdam .product-hero-content {
    margin: 218px 0 100px;
}


/* .how-to-use-block .product-hero-content {
    margin: 218px 0 100px;
} */

@media (min-width: 1024px) {
    .product-hero-content {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
    }
}

.product-hero-content .product-hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    min-height: 370px;
    padding: 40px 20px 44px;
    text-align: center;
}

.how-to-use-block-amsterdam .product-hero-box {
    padding: 43px 30px 30px;
}

.how-to-use-block .product-hero-box {
    padding: 43px 30px 30px;
}

@media (min-width: 1024px) {
    .product-hero-content .product-hero-box {
        min-height: 460px;
        margin-right: 10%;
        max-width: 100%;
        padding: 80px 60px;
        transition: padding .3s ease;
        width: 480px;
    }
}

.product-hero-content .product-hero-box h3 {
    font-size: 22px;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.how-to-use-block-amsterdam .product-hero-box h3 {
    text-transform: none;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 40px;
    margin-bottom: 16px;
}

@media (min-width: 1024px) {
    .product-hero-content .product-hero-box h3 {
        font-size: 30px;
        letter-spacing: 1.2px;
        line-height: 40px;
        margin-bottom: 20px;
        text-transform: none;
    }
}

.product-hero-content .product-hero-box p {
    line-height: 28px;
    margin-bottom: 18px;
}

.product-hero-content .product-hero-box p:last-child {
    margin-bottom: 0;
}

.product-tabs-container {
    background-color: #efedea;
    position: relative;
    /* to clip tabcontent overflow */
    overflow: hidden;
}

@media (min-width: 768px) {
    .product-tabs-container {
        padding: 30px 0;
    }
}

@media (min-width: 1024px) {
    .product-tabs-container {
        padding: 57px 0 80px;
    }
}

@media (max-width: 767px) {
    .product-tabs-container {
        padding: 36px 0 60px;
    }
}

@media (max-width: 767px) {
    .product-tabs-container .inner-wrapper {
        padding: 0;
    }
}

@media (min-width: 1024px) {
    .product-tabs-container .inner-wrapper {
        max-width: 1200px;
    }
}

@media(min-width: 767px) {
    .tabs-holder {
        text-align: center;
        width: 100%;
    }
}

.tabs-holder .tabs {
    font-size: 0;
    list-style: none;
    margin-bottom: 9px;
    width: 100%;
    margin: 0;
    border: 0px;
    background: transparent;
}

ul {
    margin: 0;
    padding: 0;
}

.tabs-holder .tabs li {
    display: inline-block;
    padding: 0 25px;
    position: relative;
}

.tabs-title {
    float: none;
}

.tabs-holder .tabs .tab-item {
    color: #626262;
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    letter-spacing: 2.08px;
    line-height: 14px;
    padding: 14px 0 7px;
    position: relative;
    text-transform: uppercase;
}

.tabs-holder .tabs .tab-item.selected,
.tabs-holder .tabs .tab-item:focus,
.tabs-holder .tabs .tab-item:hover {
    color: #1a1919;
}

.tabs-title>a {
    color: #626262;
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    letter-spacing: 2.08px;
    line-height: 14px;
    padding: 14px 0 7px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.tabs-title>a::after {
    background-color: #453f3f;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: width .3s cubic-bezier(.05, .5, .3, 1);
    width: 0;
}

[data-whatinput=mouse] .tabs-title>a {
    outline: none;
}

.tabs-title>a:focus,
.tabs-title>a:hover,
.tabs-title>a[aria-selected=true] {
    color: #1a1919;
    background-color: transparent;
}

.tabs-title>a:focus::after,
.tabs-title>a:hover::after,
.tabs-title>a[aria-selected=true]::after {
    width: 100%;
}

.tabs-holder .tabs .tab-item::after {
    background-color: #453f3f;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: width .3s cubic-bezier(.05, .5, .3, 1);
    width: 0;
}

.tabs-holder .tabs .tab-item.selected::after,
.tabs-holder .tabs .tab-item:focus::after,
.tabs-holder .tabs .tab-item:hover::after {
    width: 100%;
}

.tabs-holder .tabs-content {
    border: 0px;
    /* border-top: 0; */
    background: transparent;
    color: #453f3f;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    width: 100%;
    margin-top: 9px;
}

.tabs-holder .tabs-panel {
    position: absolute;
    opacity: 0;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: block;
    max-width: 640px;
    z-index: -1;
    color: #453f3f;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 33px 0 0;
    width: 100%;
}

@media (min-width: 1024px) {
    .tabs-holder .tabs-panel {
        padding: 30px 0;
    }
}

.tabs-holder .tabs-panel.is-active {
    position: static;
    opacity: 1;
    transform: none;
    transition: opacity .6s cubic-bezier(.33, .16, .15, .7);
    z-index: 0;
}

.tabs-holder .accordion {
    position: relative;
    width: 100%;
    background: transparent;
}

.tabs-holder .accordion::before {
    background-color: #d8d8d8;
    content: '';
    display: inline-block;
    height: 1px;
    left: 35px;
    position: absolute;
    right: 35px;
    top: 0;
}

.tabs-holder .accordion .accordion-item {
    padding: 0 35px;
    width: 100%;
}

.tabs-holder .accordion .accordion-title {
    border-bottom: 1px solid #d8d8d8;
    color: #1a1919;
    display: block;
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 15px;
    padding: 23px 0 17px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.tabs-holder .accordion .accordion-title[aria-expanded=true] {
    border-bottom-color: rgba(255, 255, 255, 0);
}

.tabs-holder .accordion .accordion-title:focus,
.tabs-holder .accordion .accordion-title:hover {
    background-color: transparent;
}

.tabs-holder .accordion .accordion-content {
    border-bottom: 1px solid #d8d8d8;
    background: transparent;
    color: #1a1919;
    display: none;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 0 30px;
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.product-tabs-container h3 {
    font-size: 22px;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.product-grid-block {
    display: flex;
    overflow: hidden;
    padding: 40px 0 85px;
}

.dk-bg-color {
    background-color: #efedea;
}

@media (min-width: 768px) {
    .product-grid-block {
        padding: 60px 0 80px;
    }
}

.heading-h3 {
    color: #1a1919;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.product-grid-block .grid-heading {
    letter-spacing: 1.2px;
    text-transform: none;
    text-align: center;
    margin-bottom: 40px;
}