.dk-title {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 15px;
    color: #000;
    display: block;
    line-height: 23px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.collection-hero-banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 70vh;
    max-height: 760px;
}

.collection-hero-banner .media-holder {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 1.3s cubic-bezier(.18, .74, .36, .99);
}

.collection-hero-banner .banner-content {
    align-items: center;
    color: #fff;
    display: flex;
    padding: 96px 0 83px;
    position: relative;
    text-align: center;
    width: 100%;
}

.collection-hero-banner .inner-indented {
    margin: 0 auto;
}

.collection-hero-banner .dk-title {
    color: #fff;
    font-size: 37px;
    letter-spacing: 9px;
    line-height: 43px;
    margin-bottom: 7px;
}

.collection-hero-banner .dk-title span {
    display: block;
    font-size: 18px;
    letter-spacing: 4.5px;
    line-height: 30px;
}

.collection-hero-banner h2 {
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    letter-spacing: 2.45px;
    line-height: 20px;
    margin: 0 auto 41px;
    max-width: 320px;
}

@media (min-width:768px) {
    .collection-hero-banner {
        height: 75vh;
    }
    .collection-hero-banner .inner-indented {
        max-width: 40%;
    }
    .collection-hero-banner .banner-content {
        padding: 210px 0;
    }
    .collection-hero-banner .dk-title {
        font-size: 54px;
        line-height: 58px;
        margin: 0 0 22px;
    }
    .collection-hero-banner .dk-title span {
        font-size: 30px;
        letter-spacing: 8px;
        line-height: 40px;
        margin-bottom: 12px;
    }
    .collection-hero-banner h2 {
        font-size: 16px;
        letter-spacing: 5px;
        line-height: 25px;
        margin: 0 auto 35px;
        max-width: none;
    }
}

@media (min-width:1024px) {
    .collection-hero-banner {
        max-height: 600px;
    }
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #9bbcc4;
    color: #1a1919;
}

.content-banner .btn:hover {
    color: #fff !important;
}

@media (min-width: 1024px) {
    .content-banner .btn:last-of-type {
        margin-top: 35px;
    }
}

@media (min-width: 768px) {
    .content-banner .btn:first-of-type {
        margin-top: 35px;
    }
}

@media (min-width: 768px) {
    .content-banner .btn:last-of-type {
        margin-top: 20px;
    }
}


/* discover */

p {
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    color: #453f3f;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.discover-block {
    background-color: #fff;
    padding: 20px 20px 36px;
    position: relative;
    text-align: center;
}

.discover-block p {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 24px;
    letter-spacing: .6px;
    line-height: 44px;
}

.discover-block .short-desc {
    width: 100%;
}

.discover-block .long-desc {
    background-color: #fff;
    display: none;
    width: 100%;
}

.discover-block .btn {
    margin-top: 8px;
}

.discover-block .btn .less {
    display: none;
}

.main .btn.btn--secondary {
    background-color: transparent;
    border: 1px solid #b4b4b4;
    color: #1a1919;
    border-radius: .25rem;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .btn {
        padding: 17px 20px 12px;
    }
}

@media (min-width:768px) {
    .discover-block {
        padding: 60px 0;
    }
    .discover-block .inner-wrapper {
        max-width: 1080px;
        padding: 0 60px;
    }
}

@media (min-width:1024px) {
    .btn:active,
    .btn:hover {
        background-color: transparent;
        color: #453f3f;
    }
    .btn.btn--secondary:active,
    .btn.btn--secondary:hover {
        border: 1px solid #1a1919;
    }
    .discover-block .inner-wrapper {
        padding: 0 20px;
    }
}

@media (max-width:767px) {
    p {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
    .discover-block {
        padding: 45px 20px 40px;
    }
    .discover-block p {
        font-size: 20px;
        letter-spacing: .56px;
        line-height: 30px;
    }
}


/* Tiles */

.inner-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.three-tile-magazine-block {
    padding: 20px 0 36px;
}

.three-tile-magazine-block .inner-wrapper {
    max-width: 1360px;
}

.three-tile-magazine-block .subtitle {
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 18px;
    color: #453f3f;
    text-transform: none;
    text-align: center;
    margin: 0 auto 40px;
}

.three-tile-magazine-block .title {
    font-size: 24px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-transform: none;
    text-align: center;
    color: #1a1919;
    margin-bottom: 25px;
    margin-top: 25px;
}

.magazine-tile {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.magazine-tile:not(:last-of-type) {
    margin-bottom: 37px;
}

.magazine-tile .image-holder {
    display: inline-block;
}

.magazine-tile .image-holder a {
    display: block;
    width: 100%;
}

.magazine-tile .text-holder {
    text-align: center;
    padding: 20px;
    display: inline-block;
}

.magazine-tile .description {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #1a1919;
    font-family: "EB Garamond", "Times New Roman", serif;
    margin: 0 auto 7px;
}

.magazine-tile .link {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 18px;
}

@media (min-width:768px) {
    .three-tile-magazine-block .subtitle {
        margin-bottom: 35px;
    }
    .three-tile-magazine-block .title {
        font-size: 36px;
        letter-spacing: .46px;
        line-height: 44px;
        margin-bottom: 15px;
        max-width: none;
    }
    .magazine-tile-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .magazine-tile {
        /* width: 30%;
        flex-basis: 30%; */
        flex-direction: column;
        margin-bottom: 0;
    }
    .magazine-tile .image-holder a .image {
        min-height: 245px;
    }
    .magazine-tile .ritual-name {
        margin-bottom: 10px;
    }
    .magazine-tile .description {
        max-width: 250px;
        margin-bottom: 17px;
        font-size: 20px;
        letter-spacing: .5px;
        line-height: 24px;
    }
    .magazine-tile .link {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1.6px;
        line-height: 20px;
    }
}

@media (max-width:767px) {
    p {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
    .magazine-tile .image-holder {
        width: 49%;
    }
    .magazine-tile .text-holder {
        width: 49%;
        text-align: left;
        padding: 5px 10px 5px 19px;
    }
    .three-tile-magazine-block .subtitle {
        display: none;
    }
}


/* ABOUT */


/* content banner */

.content-banner {
    align-items: center;
    color: #1a1919;
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    height: 70vh;
}

.content-banner .image-holder {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 1.3s cubic-bezier(.18, .74, .36, .99);
}

.content-banner[class*=in-viewport] {
    overflow: hidden;
}

.content-banner.in-viewport .image-holder {
    transform: scale(1);
}

.content-banner .text-holder {
    padding: 112px 0;
    position: relative;
    width: 100%;
}

.content-banner .inner-indented {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.content-banner p {
    color: #1a1919;
}

@media (min-width:768px) {
    .content-banner {
        max-height: 760px;
        height: 75vh;
    }
    .content-banner .headline {
        letter-spacing: 9px;
    }
}

@media (max-width:767px) {
    p {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
    .headline {
        font-size: 30px;
        letter-spacing: 8px;
        line-height: 40px;
    }
}


/* text block */

.simple-text-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.simple-text-block .inner-wrapper {
    max-width: 560px;
    min-height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

@media (min-width:768px) {
    .simple-text-block {
        padding: 30px 0;
    }
    .simple-text-block .inner-wrapper {
        padding: 0 40px;
        max-width: 1140px;
    }
}

@media (min-width:1024px) {
    .simple-text-block .inner-wrapper {
        padding: 0 20px;
        max-width: 740px;
    }
}


/* two-tile horizontal */

.two-tile-horizontal {
    width: 100%;
}

.two-tile-horizontal .inner-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.two-tile-horizontal .image-holder {
    width: 100%;
}

.two-tile-horizontal .image-holder img {
    width: 100%;
}

.two-tile-horizontal .text-holder {
    padding: 35px 20px 40px;
    text-align: center;
    width: 100%;
}

.two-tile-horizontal .long-description {
    margin: 0 auto 30px;
}

.two-tile-horizontal .long-description:last-child {
    margin-bottom: 0;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .two-tile-horizontal {
        height: 760px;
        padding: 120px 0;
    }
}

@media (min-width:768px) {
    .two-tile-horizontal {
        align-items: center;
        display: flex;
        min-height: 520px;
        padding: 30px 0;
        height: auto;
    }
    .two-tile-horizontal .inner-wrapper {
        align-items: center;
        flex-direction: row;
        max-width: 1480px;
        padding: 0 20px;
    }
    .two-tile-horizontal .image-holder {
        flex-shrink: 0;
        width: 50%;
    }
    .two-tile-horizontal .image-holder img {
        display: block;
        margin: 0 auto;
        width: 72%;
        max-width: 520px;
    }
    .two-tile-horizontal .text-holder {
        width: 50%;
        padding: 30px;
    }
    .two-tile-horizontal .text-inner:not(.wide) {
        margin: 0 auto;
        max-width: 450px;
    }
    .two-tile-horizontal .text-inner:not(.wide) .long-description {
        max-width: 380px;
        width: 100%;
    }
    .two-tile-horizontal .long-description {
        line-height: 28px;
    }
    .two-tile-horizontal.invert .text-holder {
        order: -1;
        padding: 30px 70px 30px 20px;
    }
}


/* banner small */

.heading-h2 {
    color: #1a1919;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 40px;
    letter-spacing: 10.7px;
    line-height: 50px;
    text-transform: uppercase;
}

.heading-intro {
    color: #453f3f;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 28px;
    letter-spacing: .5px;
    line-height: 40px;
    text-transform: none;
}

.content-banner .btn {
    margin-top: 9px;
}

.content-banner .btn:first-of-type {
    margin-top: 20px;
}

.content-banner.banner-small {
    min-height: 542px;
    height: auto;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .btn {
        padding: 17px 20px 12px;
    }
}

@media (min-width:768px) {
    .content-banner {
        max-height: 760px;
        height: 75vh;
    }
    .content-banner .btn {
        margin: 35px 8px 0;
    }
    .content-banner .btn:last-of-type {
        margin-top: 20px;
    }
    .content-banner .btn:first-of-type {
        margin-top: 35px;
    }
    .content-banner.banner-small {
        min-height: 480px;
        height: auto;
        max-height: none;
    }
    .horizontal-blocks .content-banner:last-child {
        margin-top: 60px;
    }
}

@media screen and (min-width:768px) and (-ms-high-contrast:active),
(min-width:768px) and (-ms-high-contrast:none) {
    .content-banner.banner-small {
        height: 480px;
    }
}

@media (min-width:1024px) {
    .btn:active,
    .btn:hover {
        background-color: transparent;
        color: #453f3f;
    }
    .content-banner .btn:last-of-type {
        margin-top: 35px;
    }
}