.sticky-bar {
    width: 100%;
    min-height: 61px;
    background-color: #fff;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, .08);
    visibility: hidden;
    bottom: -90px;
    opacity: 1;
    transition: bottom .3s ease-in-out, visibility .1s ease-in-out .5s;
    z-index: 890;
    position: fixed;
    left: 0;
    display: flex;
}

@media (min-width: 768px) {
    .sticky-bar {
        min-height: 71px;
    }
}

.sticky-bar.show-bar {
    transition: bottom .3s ease-in-out, visibility .1s ease-in-out 0s;
    visibility: visible;
    bottom: 0;
}

.sticky-product-container {
    display: flex;
    flex-grow: 1;
    padding: 5px 30px 5px 20px;
}

.sticky-bar .image-container {
    max-height: 100%;
    align-items: center;
    display: flex;
}

.sticky-bar .image-container .image {
    max-height: 60px;
}

.sticky-product-container .details-container {
    display: none;
}

@media (min-width: 768px) {
    .sticky-product-container .details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }
}

.product-name {
    display: block;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 40px;
    color: #000;
    text-transform: none;
}

@media (min-width: 768px) {
    .product-name {
        font-size: 40px;
        letter-spacing: 1.6px;
        line-height: 50px;
    }
}

.product-name.small {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.category-title.small {
    font-size: 11px;
    line-height: 18px;
    color: #9a7b69;
    letter-spacing: 1.5px;
}

.sticky-product-container .price-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.small-price .product-price {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-style: normal;
    line-height: normal;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.sticky-product-container .price-container .product-price {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-left: 10px;
}

.sticky-product-container .price-container .product-price .prices-container {
    text-align: right;
}

.sticky-product-container .price-container .price-sales {
    white-space: nowrap;
    font-size: 16px;
    letter-spacing: 1.07px;
    line-height: 19px;
    display: block;
    margin-bottom: 3px;
}

.sticky-button-container {
    width: 128px;
}

@media (min-width: 768px) {
    .sticky-button-container {
        width: auto;
        min-width: 200px;
    }
}

@media (min-width: 1024px) {
    .sticky-button-container {
        width: 380px;
    }
}

.sticky-bar .btn {
    max-width: none;
}

.sticky-button-container .btn-add-to-cart,
.sticky-button-container .btn-select-option,
.sticky-button-container .btn-wrapper,
.sticky-button-container .product-add-to-cart,
.sticky-button-container fieldset,
.sticky-button-container form {
    height: 100%;
    width: 100%;
    min-width: 1px;
}

.sticky-button-container .product-add-to-cart {
    position: relative;
}

@media (max-width: 767px) {
    .sticky-button-container .btn-add-to-cart {
        letter-spacing: 0;
        font-size: 0;
        line-height: 0;
    }
}

@media (max-width: 767px) {
    .sticky-button-container .btn-add-to-cart .icon {
        /* content: ""  ; */
    }
}

@media (min-width: 767px) {
    .sticky-button-container .btn-add-to-cart .icon {
        display: none;
    }
}

@media (max-width: 767px) {
    .sticky-button-container .btn-add-to-cart::before {
        text-indent: 0;
        font-size: 24px;
        line-height: 24px;
    }
}