@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

/* font-family: 'PT Sans', sans-serif; */


/* body {
    -webkit-font-smoothing: antialiased;
} */

.cover {
    object-fit: cover;
}

.cover-wrapper {
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
mark,
menu,
nav,
object,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    position: relative;
    height: 100%;
    background-color: #f6f4f2;
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    color: #453f3f;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
}

h2,
h3 {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 2.4px;
}

sup {
    top: -.1em !important;
}

h1 {
    font-family: "EB Garamond", "Times New Roman", serif;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3.3px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

tbody,
tfoot,
thead {
    border: none !important;
    background-color: transparent !important;
}

tbody tr:nth-child(even) {
    background-color: transparent !important;
}

tbody td,
tbody th {
    padding: 0;
}

.breadcrumb .breadcrumb-list-item.back-button-home-wrapper:nth-last-child(2):before,
.breadcrumb .breadcrumb-list-item:last-child .breadcrumb-element:before,
.breadcrumb .breadcrumb-list-item:nth-last-child(2):before,
.country-selector-dialog .ui-dialog-titlebar-close span:before,
.faq-questions .row__item .row__item__content .icon-email:before,
.faq-questions .row__item .row__item__content .icon-mail:before,
.faq-questions .row__item .row__item__content .icon-service:before,
.faq-questions .row__item .row__item__content .icon-user:before,
.footer-middle-elements .wrapper__country-selector .country-selector .arrow-down i:before,
.gwp-dialog .ui-icon-closethick:before,
.icon-account:before,
.icon-arrow--back:before,
.icon-arrow--copper:before,
.icon-arrow--down:before,
.icon-arrow--left:before,
.icon-arrow--link:before,
.icon-arrow--right:before,
.icon-arrow--up:before,
.icon-arrow-back:before,
.icon-arrow-diap:before,
.icon-arrow-track-and-trace:before,
.icon-arrow-wider-down:before,
.icon-arrow2--down:before,
.icon-arrow2--left:before,
.icon-arrow2--right:before,
.icon-arrow2--up:before,
.icon-arrow3--down-rit-dark:before,
.icon-arrow3--down-white:before,
.icon-arrow3--down:before,
.icon-arrow3--left:before,
.icon-arrow3--right:before,
.icon-arrow3--up:before,
.icon-arrow4--down:before,
.icon-arrow4--left:before,
.icon-arrow4--right:before,
.icon-arrow4--up:before,
.icon-arrow5--left:before,
.icon-arrow5--up:before,
.icon-bell:before,
.icon-box:before,
.icon-call:before,
.icon-cart--plus:before,
.icon-cart-basket:before,
.icon-cart-plus:before,
.icon-cart:before,
.icon-check-thin:before,
.icon-check:before,
.icon-cities:before,
.icon-clean-safe:before,
.icon-close-thick:before,
.icon-close2:before,
.icon-close:before,
.icon-cruelty-free:before,
.icon-current-location-outline:before,
.icon-current-location:before,
.icon-data:before,
.icon-delivery-day:before,
.icon-delivery-fast:before,
.icon-delivery-time:before,
.icon-delivery:before,
.icon-dots:before,
.icon-duration:before,
.icon-edp-tool:before,
.icon-email-circle:before,
.icon-email:before,
.icon-exclusive-partnership:before,
.icon-fabric:before,
.icon-favourite:before,
.icon-filter-icon:before,
.icon-gift:before,
.icon-giftcard:before,
.icon-giving-back:before,
.icon-hair-test:before,
.icon-hand-gift:before,
.icon-hand-heart:before,
.icon-home:before,
.icon-hor-bottle:before,
.icon-hor-candleholder:before,
.icon-hor-fragrance:before,
.icon-hor-sticks:before,
.icon-hor-wax:before,
.icon-ico-clock:before,
.icon-limiting-waste:before,
.icon-location:before,
.icon-magazine:before,
.icon-mail:before,
.icon-man:before,
.icon-menu2:before,
.icon-menu:before,
.icon-minus2:before,
.icon-minus3:before,
.icon-minus3invert:before,
.icon-minus:before,
.icon-my-rituals-dark:before,
.icon-newsletter:before,
.icon-online:before,
.icon-password-not-visible:before,
.icon-password-visible:before,
.icon-pause-large:before,
.icon-pause:before,
.icon-pencil:before,
.icon-perfume-genie:before,
.icon-play-large:before,
.icon-play:before,
.icon-plus2:before,
.icon-plus3:before,
.icon-plus3invert:before,
.icon-plus:before,
.icon-rating:before,
.icon-restart:before,
.icon-rituals-logo:before,
.icon-ruler:before,
.icon-sale:before,
.icon-scan:before,
.icon-search-dotless:before,
.icon-search-magnifier:before,
.icon-search:before,
.icon-secure-dotless:before,
.icon-secure:before,
.icon-service:before,
.icon-share:before,
.icon-shop:before,
.icon-shopping:before,
.icon-size:before,
.icon-skincare-test:before,
.icon-social--facebook2:before,
.icon-social--facebook:before,
.icon-social--fbmessenger:before,
.icon-social--google:before,
.icon-social--instagram2:before,
.icon-social--instagram:before,
.icon-social--messenger:before,
.icon-social--pinterest2:before,
.icon-social--pinterest:before,
.icon-social--twitter2:before,
.icon-social--twitter:before,
.icon-social--whatsapp-filled:before,
.icon-social--whatsapp:before,
.icon-social--youtube2:before,
.icon-social--youtube:before,
.icon-sos:before,
.icon-store:before,
.icon-super-soft:before,
.icon-tao-logo:before,
.icon-thread-count:before,
.icon-thread:before,
.icon-timer:before,
.icon-tranquility:before,
.icon-user:before,
.icon-vegan:before,
.icon-video:before,
.icon-view--list:before,
.icon-view--tiles:before,
.icon-weight:before,
.icon-well-being:before,
.icon-woman:before,
.order-steps.order-steps-collect .step-tile:last-child .step__number .circle:before,
.order-steps.order-steps-collect .step-tile:nth-child(2) .step__number .circle:before,
.splash-box .wrapper__country-selector .country-selector em i:before,
.step-tile:first-child .step__number .circle:before,
.step-tile:last-child .step__number .circle:before,
.step-tile:nth-child(2) .step__number .circle:before,
.sticky-bar-configurable .sticky-button-container .btn-add-to-cart:before,
.sticky-button-container .btn-add-to-cart.checked:before,
.sticky-button-container .btn-add-to-cart:before,
.wimo-progress-wrapper .wimo-order-step .status.completed .circle .check:before {
    font-family: iconfont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
}

.link,
a {
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #865;
    line-height: 28px;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

p {
    font-family: PT Sans, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    color: #453f3f;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    p {
        font-size: 14px;
        letter-spacing: .8px;
        line-height: 26px;
    }
}