.filter-flyin {
    background-color: #fff;
    bottom: 0;
    /* display: none; */
    left: -100%;
    position: fixed;
    top: 0;
    transition: left .6s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    z-index: 991;
}

@media (min-width: 768px) {
    .filter-flyin {
        width: 360px;
    }
}

.filter-flyin.refinements-visible {
    left: 0;
}

.filter-overlay {
    background-color: rgba(0, 0, 0, .6);
    bottom: 0;
    display: none;
    left: 360px;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 1s ease-in-out;
    visibility: hidden;
}

@media (min-width: 768px) {
    .filter-overlay {
        display: block;
    }
}

.filter-flyin.refinements-visible .filter-overlay {
    opacity: 1;
    visibility: visible;
}

.filter-flyin .filter-inner {
    height: 100%;
    overflow: auto;
    padding: 104px 0 48px;
    width: 100%;
}

@media (min-width: 768px) {
    .filter-flyin .filter-inner {
        padding: 100px 0 48px;
    }
}

.filter-header {
    background-color: #f6f4f2;
    border-bottom: 1px solid #d8d8d8;
    left: -100%;
    padding: 25px 20px 33px;
    position: fixed;
    top: 0;
    transition: left .6s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    z-index: 20;
}

@media (min-width: 768px) {
    .filter-header {
        border-bottom: 0;
        padding: 30px 60px 33px;
        text-align: left;
        width: 360px;
    }
}

.filter-flyin .filter-header {
    background-color: #fff;
    border-bottom-width: 2px;
    padding: 42px 20px 37px;
}

@media (min-width: 768px) {
    .filter-flyin .filter-header {
        padding: 31px 80px 30px 60px;
    }
}

.filter-flyin.refinements-visible .filter-header,
.filter-flyin.refinements-visible .filter-user-actions {
    left: 0;
}

.filter-header .filter-x-close {
    font-size: 22px;
    position: absolute;
    right: 16px;
    top: 19px;
}

@media (min-width: 768px) {
    .filter-header .filter-x-close {
        right: 56px;
        top: 39px;
    }
}

.filter-flyin .filter-header .filter-x-close {
    right: 23px;
    top: 43px;
}

@media (min-width: 768px) {
    .filter-flyin .filter-header .filter-x-close {
        right: 56px;
        top: 39px;
    }
}

.filter-header h3 {
    color: #1a1919;
    font-size: 24px;
    letter-spacing: .6px;
    line-height: 1.2;
    margin-bottom: 21px;
    text-transform: none;
}

.filter-flyin .filter-header h3 {
    font-size: 20px;
    letter-spacing: 3.4px;
    line-height: 24px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .filter-header h3 {
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 40px;
        margin-bottom: 35px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    .filter-flyin .filter-header h3 {
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 38px;
    }
}

.filter-holder {
    overflow: hidden;
    width: 100%;
}

.filter-holder .filters-container {
    padding: 0 20px 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .filter-flyin .filters-container {
        padding: 4px 60px;
    }
}

@media (min-width: 768px) {
    .filter-holder .filters-container {
        padding: 27px 60px 27px 57px;
    }
}

.filter-holder .filter-block {
    width: 100%;
}

@media (min-width: 768px) {
    .filter-holder .filter-block {
        margin-bottom: 18px;
    }
}

.filter-holder .filter-block-title {
    /* border-bottom: 1px solid #d8d8d8; */
    color: #1a1919;
    font-family: "EB Garamond", "Times New Roman", serif;
    font-size: 12px;
    letter-spacing: 2.5px;
    line-height: 15px;
    padding: 21px 30px 23px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

@media (max-width: 767px) {
    .filter-flyin .filter-holder .filter-block-title {
        /* border-bottom: 2px solid #d1d1d1; */
        min-height: 77px;
    }
}

@media (min-width: 768px) {
    .filter-holder .filter-block-title {
        border-bottom: 0;
        padding: 13px 30px 13px 0;
    }
}


/* @media (min-width: 768px){
.filter-holder .filter-options {
    display: none;
    width: 100%;
}} */

.filter-holder .filter-options-container {
    max-height: 100%;
    overflow: auto;
    padding: 0px 0 30px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container {
        margin-bottom: -11px;
        max-height: none;
        overflow: hidden;
        padding: 10px 0 0 3px;
        width: calc(100% + 20px);
    }
}

.filter-holder .filter-options-container .filter-item {
    padding: 0 20px;
}

@media(max-width:767px) {
    .filter-holder .filter-options-container .filter-item {
        padding: 0 0px;
    }
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container .filter-item {
        margin-bottom: 8px;
        padding: 0;
    }
}

.filter-holder .filter-options-container label {
    border-bottom: 1px solid #d8d8d8;
    color: #453f3f;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 16px 0 14px;
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container label {
        border-bottom: 0;
        font-size: 14px;
        letter-spacing: .25px;
        line-height: 18px;
        padding: 0;
    }
}

.filter-holder .filter-options-container label input {
    height: 2px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 22px;
    width: 2px;
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container label input {
        top: 6px;
    }
}

.filter-holder .filter-options-container label .text {
    background: 0 0;
    cursor: pointer;
    padding-left: 43px;
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container label .text {
        padding-left: 23px;
        line-height: 16px;
    }
}

.filter-holder .filter-options-container label sup {
    color: #807463;
    font-family: "EB Garamond", "Times New Roman", serif;
    margin-left: 5px;
}

.filter-holder .filter-options-container label .text::before {
    background-color: transparent;
    border: 1px solid #d8d8d8;
    content: '';
    display: inline-block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 22px;
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container label .text::before {
        height: 12px;
        top: 3px;
        width: 12px;
    }
}

.filter-holder .filter-options-container label input:checked+.text::before {
    background-color: #865;
    border-color: #865;
}

.filter-holder .filter-options-container label .text::after {
    font-family: iconfont;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    content: "✓";
    display: none;
    font-size: 15px;
    left: 5px;
    position: absolute;
    top: 12px;
    font-variant: normal;
    text-decoration: none;
}

@media (min-width: 768px) {
    .filter-holder .filter-options-container label .text::after {
        font-size: 10px;
        left: 2px;
        top: 0;
    }
}

.filter-holder .filter-options-container label input:checked+.text::after {
    display: block;
}

.filter-holder .filter-block-title::after {
    font-family: iconfont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
    font-size: 40px;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .filter-holder .filter-options {
        background-color: #fff;
        bottom: 46px;
        /* position: fixed; */
        /* right: -100%; */
        top: 0;
        transition: right .6s cubic-bezier(.645, .045, .355, 1);
        width: 100%;
        z-index: 21;
    }
}

@media (max-width: 767px) {
    .filter-flyin.refinements-visible .filter-holder .filter-options.visible {
        right: 0;
    }
}

.filter-holder .price-filter-wrapper {
    padding: 0px 0 20px;
}

@media (min-width: 768px) {
    .filter-holder .price-filter-wrapper {
        padding: 0;
    }
}

.filter-holder .price-filter-wrapper .price-holder {
    display: flex;
    padding: 0 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .filter-holder .price-filter-wrapper .price-holder {
        padding: 0;
    }
}

.filter-holder .price-filter-wrapper .price-holder .price-item-input {
    margin-right: 9px;
}

.filter-holder .price-filter-wrapper .price-holder label {
    color: #1a1919;
    display: inline-block;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 20px;
    margin-right: 5px;
}

.filter-holder .price-filter-wrapper .price-holder input {
    color: #1a1919;
    line-height: 20px;
    margin: 0;
    outline: 0;
    padding: 5px 10px 6px;
    width: 50px;
}

.filter-holder .price-filter-wrapper .price-holder .price-item-btn {
    margin-left: 21px;
}

@media (min-width: 768px) {
    .filter-holder .price-filter-wrapper .price-holder .price-item-btn {
        margin-left: auto;
    }
}

.filter-holder .price-filter-wrapper .price-holder .btn {
    min-width: 63px;
    padding: 9px 20px 7px;
}

.filter-holder .price-filter-wrapper .price-holder .btn.btn--disabled {
    background-color: transparent;
    border-color: #d8d8d8;
    color: #d8d8d8;
}

.filter-user-actions {
    bottom: -2px;
    display: flex;
    left: -100%;
    position: fixed;
    transition: left .6s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

@media (min-width: 768px) {
    .filter-user-actions {
        width: 360px;
    }
}

.filter-flyin.refinements-visible .filter-header,
.filter-flyin.refinements-visible .filter-user-actions {
    left: 0;
}

.filter-user-actions .btn {
    min-width: 10px;
    padding: 17px 7px 15px;
    width: 50%;
    border-radius: 0px !important;
}

.filter-user-actions .btn-clear-all {
    background-color: #f6f4f2;
    border-color: #f6f4f2;
    color: #111;
}

.filter-holder .filter-block-title.collapsed::after {
    content: " ＋";
    font-size: 27px;
    /* margin-left: 2px; */
}

.filter-holder .filter-block-title::after {
    content: "—";
    font-size: 17px;
}