.visible {
    display: block;
}

.hover-scale a {
    overflow: hidden;
}

.hover-scale img {
    transition: all .5s;
}

@media (min-width: 768px) {
    .hover-scale:hover img,
    .hover-scale:focus img {
        transform: scale(1.1);
    }
}

.layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.rituals-form .selectric-wrapper .selectric-items ul li {
    font-size: 16px;
    letter-spacing: .5px
}

.rituals-form .selectric-wrapper.selectric-readonly {
    cursor: not-allowed
}

.rituals-form .selectric-wrapper.selectric-readonly .selectric {
    background-color: transparent;
    border: 0;
    padding: 5px 0 7px;
    pointer-events: none
}

.rituals-form .selectric-wrapper.selectric-readonly .selectric .label {
    font-weight: 700;
    line-height: 19px;
    padding-left: 0
}

.rituals-form .selectric-wrapper.selectric-readonly .selectric .button {
    display: none
}

.rituals-form .selectric-wrapper.selectric-disabled {
    cursor: not-allowed
}

.rituals-form .selectric-wrapper.selectric-disabled .selectric {
    color: rgba(174, 174, 174, .5);
    border: 1px solid rgba(216, 216, 216, .5)
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.8s;
    /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

@media(max-width:767px) {
    .center-mobile {
        display: block;
        text-align: center;
    }
}

.hide {
    display: none;
}